* {
    box-sizing: border-box;
}
:root {
    --blue: #0097ffe8;
}
.button-container {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00b2ff54;
}
.btn {
    position: absolute;
    font-size: 35px;
    padding: 5px 10px;
    width: fit-content;
    border: 5px solid white;
    border-radius: 5px;
    color: white;
    background-color: rgb(250, 58, 58);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.end-game {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #575859ad;
    display: none;
}
.end {
    position: absolute;
    font-size: 100px;
    padding: 5px 10px;
    width: fit-content;
    border: 5px solid white;
    border-radius: 5px;
    color: white;
    background-color: rgb(250, 58, 58);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.info {
    padding: 20px 32px;
    border: 2px solid var(--blue);
    display: flex;
    position: relative;
    font-size: 24px;
    margin: auto;
    width: 1100px;
    background-color: #eee;
    margin: 20px auto;
}
.tries {
    position: absolute;
    right: 50px;
}
.blocks-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 1100px;
}
.blocks-container.stopClicking {
    pointer-events: none;
}
.block {
    display: block;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    transition: transform 0.5s;
    /* transform: rotateY(180deg); */
    margin: 0px 10px 20px;
}
.face {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
}
.front {
    color: #eee;
    background-color: rgb(71 65 65);
    border: 5px solid var(--blue);
    font-size: 169px;
    padding: 0px 56px;
}
.back {
    transform: rotateY(180deg);
}
.back img {
    width: 100%;
    height: 100%;
}
.flipped {
    transform: rotateY(180deg);
}
.matched {
    transform: rotateY(180deg);
}
